{% extends "layout.html" %}
{% block content %}
<div class="container mt-4">
    <h2>Registered Members</h2>

    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            {% for m in member_list %}
            <tr>
                <td>{{ m.id }}</td>
                <td>{{ m.email }}</td>
                <td>{{ m.username }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
